<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE sdvr SYSTEM 'sdvr.dtd'>
<dvrsystem>
 <lastid>3</lastid>
 <usesdkrecording>false</usesdkrecording>
 <enable_auth_key>false</enable_auth_key>
 <lastplayerid>2</lastplayerid>
 <videostandard>D1_NTSC</videostandard>
 <watchdogstate>0</watchdogstate>
 <statfpsinterval>3</statfpsinterval>
 <timeout>10</timeout>
 <h264maxframesrecord>0</h264maxframesrecord>
 <segmentedrecording>true</segmentedrecording>
 <enableh264sce>1</enableh264sce>
 <debugenable>1</debugenable>
 <debugsdkenable>1</debugsdkenable>
 <showfps>0</showfps>
 <debugshowdropframes>0</debugshowdropframes>
 <debugavframes>1</debugavframes>
 <fonttableactive>21</fonttableactive>
 <fonttable>
  <fontpath></fontpath>
  <fontcoderange high="65535" low="0" />
  <fontcolor y="255" u="255" v="255" />
 </fonttable>
 <cameralist/>
 <playerlist/>
 <monitorlist>
  <monitor cols="1" rows="1" decimation="EQUAL" name="EQUAL" />
  <monitor cols="2" rows="2" decimation="CIF" name="14" />
  <monitor cols="4" rows="4" decimation="QCIF" name="16" />
 </monitorlist>
</dvrsystem>

