<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE sdvr SYSTEM 'sdvr.dtd'>
<dvrsystem>
 <lastid>43</lastid>
 <usesdkrecording>false</usesdkrecording>
 <enable_auth_key>false</enable_auth_key>
 <lastplayerid>5</lastplayerid>
 <videostandard>D1_NTSC</videostandard>
 <watchdogstate>0</watchdogstate>
 <statfpsinterval>3</statfpsinterval>
 <timeout>10</timeout>
 <h264maxframesrecord>0</h264maxframesrecord>
 <segmentedrecording>true</segmentedrecording>
 <enableh264sce>1</enableh264sce>
 <debugenable>1</debugenable>
 <debugsdkenable>1</debugsdkenable>
 <showfps>0</showfps>
 <debugshowdropframes>0</debugshowdropframes>
 <debugavframes>1</debugavframes>
 <fonttableactive>0</fonttableactive>
 <fonttable>
  <fontpath></fontpath>
  <fontcoderange high="65535" low="0" />
  <fontcolor y="255" u="255" v="255" />
 </fonttable>
 <cameralist>
  <camera id="26" >
   <name>Camera 26</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>10</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="2" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 26</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="27" >
   <name>Camera 27</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="3" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 27</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="28" >
   <name>Camera 28</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="0" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 28</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="30" >
   <name>Camera 30</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="1" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 30</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="31" >
   <name>Camera 31</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="4" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 31</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="32" >
   <name>Camera 32</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="5" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 32</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="33" >
   <name>Camera 33</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="6" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 33</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="34" >
   <name>Camera 34</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="7" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 34</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="35" >
   <name>Camera 35</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="8" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 35</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="36" >
   <name>Camera 36</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="9" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 36</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="37" >
   <name>Camera 37</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="10" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 37</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="38" >
   <name>Camera 38</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="11" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 38</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="39" >
   <name>Camera 39</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="12" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 39</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="40" >
   <name>Camera 40</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="13" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 40</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="41" >
   <name>Camera 41</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <attach board="0" input="14" />
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 41</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="42" >
   <name>Camera 42</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 42</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
  <camera id="43" >
   <name>Camera 43</name>
   <vppmode>slateral</vppmode>
   <yuvframerate>30</yuvframerate>
   <motion_value_freq>0</motion_value_freq>
   <video_in_params>
    <hue>128</hue>
    <contrast>92</contrast>
    <saturation>128</saturation>
    <brightness>128</brightness>
    <sharpness>1</sharpness>
   </video_in_params>
   <videoencoding format="H264" subenc="0" >
    <default>
     <framerate>30</framerate>
     <decimation>EQUAL</decimation>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </default>
    <onalarm>
     <enabled>false</enabled>
     <minontime>60</minontime>
     <minofftime>30</minofftime>
     <framerate>30</framerate>
     <h264>
      <gopsize>15</gopsize>
      <bitratecontrol>CBR</bitratecontrol>
      <avgbitrate>2000</avgbitrate>
      <maxbitrate>4000</maxbitrate>
      <quality>50</quality>
     </h264>
    </onalarm>
   </videoencoding>
   <audioencoding>G711</audioencoding>
   <osd id="0" >
    <enabled>true</enabled>
    <text>Camera 43</text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>true</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>1</show>
   </osd>
   <osd id="1" >
    <enabled>true</enabled>
    <text></text>
    <location>Bottom Right</location>
    <x_topleft>0</x_topleft>
    <y_topleft>0</y_topleft>
    <dtsenabled>false</dtsenabled>
    <dtsformat>MDY 12H</dtsformat>
    <translucent>180</translucent>
    <show>0</show>
   </osd>
   <motiondetection>
    <enabled>false</enabled>
    <threshold>20</threshold>
    <threshold1>20</threshold1>
    <threshold2>20</threshold2>
    <threshold3>20</threshold3>
   </motiondetection>
   <blinddetection>
    <enabled>false</enabled>
    <threshold>60</threshold>
   </blinddetection>
   <nightdetection>
    <enabled>false</enabled>
    <threshold>40</threshold>
   </nightdetection>
   <privacy>
    <enabled>false</enabled>
   </privacy>
  </camera>
 </cameralist>
 <playerlist/>
 <monitorlist>
  <monitor cols="2" rows="2" decimation="CIF" name="14" />
  <monitor cols="4" rows="4" decimation="QCIF" name="16" >
   <show display="0" camera="26" />
   <show display="1" camera="27" />
   <show display="2" camera="28" />
   <show display="3" camera="30" />
   <show display="4" camera="31" />
   <show display="5" camera="26" />
   <show display="6" camera="26" />
   <show display="7" camera="27" />
   <show display="8" camera="27" />
   <show display="9" camera="27" />
   <show display="10" camera="26" />
   <show display="11" camera="30" />
   <show display="12" camera="30" />
   <show display="13" camera="28" />
   <show display="14" camera="28" />
   <show display="15" camera="28" />
  </monitor>
  <monitor cols="1" rows="1" decimation="EQUAL" name="equal" />
  <monitor cols="4" rows="4" decimation="CIF" name="1_4" />
  <monitor cols="4" rows="4" decimation="CIF" name="smo" >
   <smo>
    <board>0</board>
    <leftmargin>0</leftmargin>
    <topmargin>0</topmargin>
    <spacing>0</spacing>
   </smo>
   <show display="0" camera="26" />
  </monitor>
  <monitor cols="4" rows="4" decimation="QCIF" name="smo_qcif" >
   <smo>
    <board>0</board>
    <leftmargin>0</leftmargin>
    <topmargin>0</topmargin>
    <spacing>0</spacing>
   </smo>
   <show display="0" camera="41" />
   <show display="1" camera="40" />
   <show display="2" camera="28" />
   <show display="3" camera="30" />
   <show display="4" camera="31" />
   <show display="5" camera="32" />
   <show display="6" camera="33" />
   <show display="7" camera="34" />
   <show display="8" camera="35" />
   <show display="9" camera="36" />
   <show display="10" camera="37" />
   <show display="11" camera="38" />
   <show display="12" camera="39" />
   <show display="14" camera="27" />
   <show display="15" camera="26" />
  </monitor>
 </monitorlist>
</dvrsystem>

